@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    transition: all 0.5s ease;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.top {
    background: url('../img/bg-header.png');
    background-size: cover;
}

.top-opacity {
    position: static;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-content {
    text-align: center;
}

.top-content h1 {
    opacity: 0.9;
    color: #fefefe;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    padding: 20vh 0 7vh;
}

.top-content .subtitle-header {
    opacity: 0.68;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 25%;
}

.logo img {
    width: 118px;
    max-width: inherit;
    padding-left: 2%;
}

.menu-header {
    display: flex;
}

.menu-header-mob {
    display: none;
}

.menu-header li {
    margin: 34px 32px;
    opacity: 0.75;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.menu-header li:hover {
    opacity: 1;
    color: #212121;
}

.white-romb {
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 5px;
    display: inline-block;
}

.black-arrow-down {
    transform: rotate(-45deg);
    line-height: 20px;
}

/* img{
    max-width: 100%;
}
 */
/* ul{
    margin-top:-4%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li{
    margin: 14px 10px;
}*/

/* a{
    text-decoration: none;
    opacity: 0.75;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
   
    letter-spacing: 3.3px;
} 
 */
/* .menu-header {
    display: flex;
    margin-top:-4%;
    list-style-type: none;
    justify-content: flex-end;
}
 */
/* .menu-header-mob {
    display: none;
} */

/* .menu-header li {
    margin: 34px 32px;
    opacity: 0.75;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
 */
/* .menu-header li:hover {
    opacity: 1;
    color: #212121;
} */


/* .top-btn{
    margin-top: 18%;
}
 */
/* a:hover{
    color: #111111;
} */

/* .header{
    background-image: url(../img/inner.jpg);
    width: 100%;
    height: 900px;
} */

/* .top-logo{
    margin: 1% 3%;
} */

/* .header-text{
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    text-align: center;
    margin: 12%;
} */

/* .subheader-text{
    opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin: 12%;
}
 */
/* .top-footer{
    display: flex;
    justify-content: center;
    margin: 23%;
}
 */

/* dropdown*/

.dropdown {
    display: none;
    position: absolute;
    right: 0%;
    width: 250px;
    height: 340px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 1%;
    background: #212121;
  


}

.menu-header-dropdown li {
    text-decoration: none;
    text-align-last: center;

    opacity: 0.75;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-top: 17%;
   

}

.menu-header-dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 1%
}

.menu-header-dropdown-link:hover{
    color:rgb(78, 141, 131);

}

.title-back-side{
    text-align: center;
    color: #7e3636;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.text-back-side{
    font-size: 18px;
    color: #0b3110;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;

}

/*end dropdown */

.container {
    margin: 0 10%;
}


.row-3 {
    display: flex;
    justify-content: space-between;

}

/* Card Flip 3D */
.section-3d {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 15% 10%;

}

.t3d {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    perspective: 1000px;
}

.t3d:hover .rotate {
    transform: rotateY(180deg);
}

.rotate {
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);

}

.img-3d {
    vertical-align: middle;

}

.img-3d,
.text {
    width: 300px;
    height: 360px;
    background: rgb(200, 228, 211);
    backface-visibility: hidden;
}

.pd {
    padding: 20px;
}




/* styles for about section */

.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 10% 5%;
    text-align: center;
}

.title-about {
    text-align: left;
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about>small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 1%;

}

.img-list {
    margin: 6% 0;
}

.worker-name,
.worker-job {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #777777;
    font-size: 12px;
    text-transform: uppercase;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}

/* services section */
.tab {
    display: none;

}

.tab.active {
    display: block;

}

.transit {
    transition: 3s;
}


.list-services {
    display: flex;
    justify-content: center;
}

.list-services li {
    text-align: center;
    margin: 0 3%;
    color: #777777;
}

.list-services li span {
    font-size: 48px;
    font-weight: 400;

}

.active-icon,
.active-icon span {
    color: #111111;
}

/* section digital-services */
.container {
    margin: 0 10%;
}

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;

}

.white-btn {
    background-color: #ffffff;
    opacity: 0.8;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border: none;
    outline: none;
    width: 40%;
    margin: 40px 0;
    padding: 10px 0;
}

.white-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 443px;
}

/*section portfolio*/
.btn-imgcf {
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}


.portfolio-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list>li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray-layer {
    width: 30%;
    filter: grayscale(100%);

}

.gray-layer:hover {
    filter: none;
    cursor: pointer;
}

.creative-works {
    height: 218px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/*section why choose us*/

.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    text-align: center;
    margin: 35px 0;
}

.custom-icons span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}

.row-3-center {
    text-align: center;
}



.row-margin {
    margin-top: 40px;

}

.row-3-text-width-title {
    margin: 0 10%;
}

/* latest news */
.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-title p {
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "All News i" */
    letter-spacing: 4.4px;
}

.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 0 20px;
}

.text-news {
    margin: 20px 0;
}

.new-item {
    margin: 1%;
}

/* subscribe */
.subscribe {
    display: flex;
    justify-content: center;
}

.subscribe-text {
    width: 100%;
    height: 264px;
    background-color: #f8f8f8;
    text-align: center;
    margin-top: 10%;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    width: 20%;
    height: 13%;
}

.black-button {
    width: 128px;
    height: 36px;
    background-color: #000000;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}


/* contacts */

.contacts {
    margin: 0 20%;
}

.contact-inputs {
    display: flex;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input,
.contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

.subscribe-button {
    border: none;
    height: 36px;
    padding: 0 20px;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border-radius: 2px;
}

/* contacts */

/* footer */

.mountains {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 40%;
}

.icons a {
    color: black;
    font-size: 100%;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "©,  Rhythm" */
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
}

/* MAP */

.google-map {
    width: 100%;
    max-height: 440px;
    margin: 10% 0 10% 0;
    position: relative
}

.conteiner-map {
    width: 100%;
    height: 440px;
    background: rgba(17, 17, 17, .93);
    z-index: 2;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.is-active {
    height: 40px;
}


iframe {
    width: 100%;
    height: 440px;
}
.map-section .social-item-with-border {
    margin: 0;
    background-color: #fff;
    color: #000;
    border: none;
}


.social-item-with-border {
    display: none;
    margin: 0 10px;
    /* border: 1px solid black; */
    width: 25px;
    height: 25px;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.social-item-with-border i {
    line-height: 25px;
    transform: rotate(-45deg);
    color: black;
}

.map-section .white-title {
    padding-top: 15px;
}

.white-title {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.icon-and-text {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
}
/* /MAP */
.what-people-say {
    width: 100%;
    background: black;
    padding: 7% 0;
    margin-top: 5%;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.what-people-say .white-text {
    text-align: center;
}

.quotes-item {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 20px;
}

.container-what-people-say {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.wrapper {
    width: 1280px;
    overflow: hidden;
}

.list {
    display: flex;
    transition: all ease 1s;
    width: 300vw;
    margin: 0 auto;
}

.item {
    min-width: 100vw;
    margin: 0 auto;


}

.btn-next {
    color: #f8f8f8;
    position: absolute;
    align-self: center;
    font-size: 35px;


}

.btn-back {
    color: #f8f8f8;
    position: absolute;
    right: 0%;
    align-self: center;
    font-size: 35px;
}

/*end of slider section people say   */
.contact {
    margin: 0 20%;
}

.contact-input {
    display: flex;
}

.contact-input div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-input input,
.contact-input textarea {
    width: 94%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.contact-input textarea {
    height: 108px;
}

.contact-info {
    display: flex;
    justify-content: flex-start;
}

.contact-info img {
    width: 32px;
    height: 32px;
    margin: 5px 10px 0 0;
}

.contact-info p {
    color: #444444;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    color: #777777;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-family: "Open Sans - Light";
    font-weight: 300;
    line-height: 24px;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit span {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Font Awesome";
    font-size: 12px;
    font-family: "Open Sans";
}


/* media QU */
@media screen and (min-width: 700px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .row-3 {
        flex-wrap: wrap;
    }

    .row-3>div {
        width: 48%;
    }

    .row-3 .subtitle-about {
        width: 100%;
    }

    .img-list>div {
        width: 100%;
        text-align: center;
    }

    .monitor-img {
        display: none;
    }

    .list-services {
        flex-wrap: wrap;

    }

    .portfolio-list {
        max-width: 90%;
    }

    .gray-layer {
        width: 50%;
    }

    .contacts {
        margin: 0 4%;
    }

    .contact-inputs {
        flex-direction: column;
    }

    .contact-inputs>div {
        width: 100%;
        margin: 0;
    }

    .menu-header {
        display: none;
    }



    .menu-header-mob {
        display: block;
        color: #fff;
        margin: 20px 32px;
    }

    .section-3d {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 600px) {
    .row-3>div {
        width: 100%;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .gray-layer {
        width: 100%;
    }


}
